* {
    margin: 0;
    padding: 0;
}

body {
    background: #1b2631;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.flex-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 20px;
    position: relative;
}

.nums {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background-color: none;
    margin-top: -300px;
    border: 4px solid #f1c40f;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    
}

.number {
    color: white;
    font-size: 1.8rem;
}

.prediction-wrapper {
    position: absolute;
    width: 600px;
    height: 300px;
    top: 115px;
    left: 35px;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid #f1c40f;
}

.prediction-text {
    font-size: 2rem;
    color: #fff;
    width: 500px;
    text-align: center;
}

.img {
    position: absolute;
    width: 600px;
    height: 300px;
    top: 115px;
    left: 35px;
    opacity: 0;
}

.appear {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 1s;
}




